{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>DocRel is a web application that helps researchers and students in the field of computer science to find relevant research papers based on their queries. The application uses a combination of semantic analysis and keyword matching to provide accurate results.</p>
    <br>
    <div class="about-container">
        <div class="developer">
            <a href="https://www.linkedin.com/in/kinshuk-goel/" target="_blank">
                <img src="{{ url_for('static', filename='kin.jpeg') }}" alt="Kinshuk Goel" class="profile-pic">
            </a>
            <div>
                <h2><a href="https://www.linkedin.com/in/kinshuk-goel/" target="_blank">Kinshuk Goel</a></h2>
                <p><strong>Role:</strong> Principle Researcher</p>
                <p>Kinshuk specializes in server-side logic, data analysis and algorithm development. He ensures that the application runs smoothly and efficiently.</p>
            </div>
        </div>
    
        <div class="developer">
            <a href="https://www.linkedin.com/in/avni-verma-975291230/" target="_blank">
                <img src="{{ url_for('static', filename='av.jpeg') }}" alt="Avni Verma" class="profile-pic">
            </a>
            <div>
                <h2><a href="https://www.linkedin.com/in/avni-verma-975291230/" target="_blank">Avni Verma</a></h2>
                <p><strong>Role:</strong> Frontend Developer</p>
                <p>Avni is responsible for the design and implementation of the user interface. She has a keen eye for aesthetics and usability.</p>
            </div>
        </div>
    
        <div class="developer">
            <a href="https://www.linkedin.com/in/priyanshitiwari02/" target="_blank">
                <img src="{{ url_for('static', filename='pri.jpeg') }}" alt="Priyanshi Tiwari" class="profile-pic">
            </a>
            <div>
                <h2><a href="https://www.linkedin.com/in/priyanshitiwari02/" target="_blank">Priyanshi Tiwari</a></h2>
                <p><strong>Role:</strong> Backend Developer</p>
                <p>Priyanshi is instrumental in maintaining the database, server configuration and API integrations. She ensures that the application is robust and secure.</p>
            </div>
        </div>
    
        <div class="developer">
            <a href="https://www.linkedin.com/in/anubhav-bhattacharyya-26b1bb24a/" target="_blank">
                <img src="{{ url_for('static', filename='ab.jpeg') }}" alt="Anubhav Bhattacharyya" class="profile-pic">
            </a>
            <div>
                <h2><a href="https://www.linkedin.com/in/anubhav-bhattacharyya-26b1bb24a/" target="_blank">Anubhav Bhattacharyya</a></h2>
                <p><strong>Role:</strong> Project Manager</p>
                <p>Anubhav oversees the project, coordinating between team members and ensuring that timelines are met.</p>
            </div>
        </div>
    </div>    
{% endblock %}
