<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/semantic">Semantic Analysis</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
