{% extends 'base.html' %}

{% block title %}Send Results{% endblock %}

{% block content %}
    <h1>Send Results</h1>
    <form id="mail-form" action="/send" method="POST">
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" placeholder="e.g., abc@example.com" required autocomplete ="off">
        </div>
        
        <button type="submit" id="send-results" class="btn-submit">Send</button>
    </form>
    
    <p id="message" class="message"></p>
{% endblock %}
